<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<meta property="og:title" content="The Five-College Menu"/> 
    <meta property="og:type" content="website"/> 
    <meta property="og:image" content="http://www.mikemaltese.com/5cmenu/dino.jpg"/> 
    <meta property="og:url" content="http://www.mikemaltese.com/5cmenu/"/> 
    <meta property="og:site_name" content="mikemaltese.com"/> 
    <meta property="fb:admins" content="709617141"/>
    <meta property="og:description"
          content="Tired of looking at five different websites just to figure out who has the best lunch? The Five-College Menu has all the information you need, in one convenient location. "/> 
    <title>The Five-College Menu (5C Menu) - MikeMaltese.com</title>

<style type="text/css">
	<%= partial("main.css") %>
</style>

</head>

<body>

<div id="header">
	<h1>The Five-College Menu</h1>
</div>
<div id="subheader">
	<p>A web application by <a href="http://www.mikemaltese.com">Michael Maltese</a>.
	Questions, comments, and especially complaints to mjm72010 at pomona dot edu.</p>
	<fb:like href="http://www.mikemaltese.com/5cmenu/" show_faces="true" width="500"></fb:like>
</div>
<div id="main">	
	<h1 style="display: inline;"><%= RIGHT_NOW.strftime "%A, %B %d" %>:
	<% @meals.each do |meal| %>
		<a href="#<%= meal %>">
			<%= meal %>
		</a>
	<% end %></h1>
	<div style="display: inline; padding-top: 1em; font-size: 14px;">
		<!-- vegetarian_icon = Vegetarian, vegan_icon = Vegan -->
	</div>

	<% @meals.each do |meal| %>
		<h1>
			<a id="<%= meal %>" class="anchor">
				<%= meal.capitalize %>
			</a>—
			<a href="http://itunes.apple.com/us/app/5c-menu/id512440171">Chet Corcos made an iPhone app!</a>
			<!--Check out <a href="http://appsforaction.com">Apps for Action</a> to get cool apps and help charities!-->
			<!--<a href="http://www.facebook.com/kelseyschuetz">Happy Birthday Kelsey Schuetz!</a>-->
			<!--1-Year Anniversary of the 5C Menu! Thanks for all the support!-->
			<!--<a href="http://www.youtube.com/watch?v=xzk_4Y3IybI">Good Day Sunshine!</a>-->
			<!--<a href="http://opinionator.blogs.nytimes.com/2011/02/01/a-food-manifesto-for-the-future/">
				Mark Bittman: A Food Manifesto for the Future
			</a>-->
			<!--<a href="http://orient.bowdoin.edu/orient/article.php?date=2011-02-25&section=1&id=4">
				‘Meatless Monday’ at Bowdoin spurs controversy
			</a>-->
		</h1>
		<% @sources.each do |source| %>
			<div class="menu">
			<%= partial(:menu, :source => source, :meal => meal) %>
			
			<% if source.name == "Frank" %>
				<% if meal == "lunch" %>
					<%= partial :menu, :source => @oldenborg, :meal => meal %>
				<% elsif meal == "brunch" %>
					<h1><a href="<%= @oldenborg.uri(meal) %>">Oldenborg</a></h1>
					<ul><li>Oldenborg is not open on weekends. Check back on a weekday for the lunch menu.</li></ul>
				<% end %>
			<% end %>
			<% if source.name == "Collins" and meal == "dinner" %>
				<% source.instance_variable_set("@name", "Snack") %>
					<%= partial :menu, :source => source, :meal => "snack" %>
				<% source.instance_variable_set("@name", "Collins") %>
			<% end %>
			</div>
		<% end %>
		<div class="clear"></div>
	<% end %>
</div>

<!--<div id="logo">
	<img src="dino.png" alt="dinosaur logo" height="210"/>
</div>-->

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20212552-1']);
  _gaq.push(['_trackPageview']);

  (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" src="http://updateyourbrowser.net/uyb.js"> </script>

<!-- start Mixpanel --><script type="text/javascript">(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
mixpanel.init("ee8e55c45b58665b536359722c351004");</script><!-- end Mixpanel -->

<script type="text/javascript">
	mixpanel.track("view:5cmenu")
</script>

</body>

</html>
